<h1>NgFor</h1>

<hr>

<h3 class="ui horizontal divider header">
  Simple list of strings
</h3>

<div class="ui list" *ngFor="let c of cities">
  <div class="item">{{ c }}</div>
</div>

<hr>

<h3 class="ui horizontal divider header">
  List of objects
</h3>

<table class="ui celled table">
  <thead>
  <tr>
    <th style="text-align:left;">Name</th>
    <th style="text-align:left;">Age</th>
    <th style="text-align:left;">City</th>
  </tr>
  </thead>
  <tr *ngFor="let p of people">
    <td>{{ p.name }}</td>
    <td>{{ p.age }}</td>
    <td>{{ p.city }}</td>
  </tr>
</table>

<hr>

<h3 class="ui horizontal divider header">
  Nested data
</h3>

<div *ngFor="let item of peopleByCity">
  <table class="ui celled table">
    <thead>
    <tr>
      <th style="text-align:left;">Name</th>
      <th style="text-align:left;">Age</th>
    </tr>
    </thead>
    <tr *ngFor="let p of item.people">
      <td>{{ p.name }}</td>
      <td>{{ p.age }}</td>
    </tr>
  </table>
</div>

<hr>

<h3 class="ui horizontal divider header">
  List with index
</h3>

<div class="ui list" *ngFor="let c of cities; let num = index">
  <div class="item">{{ num+1 }} - {{ c }}</div>
</div>

<hr>
