<h1>NgIf</h1>

<div *ngIf="false">False property</div>
<div *ngIf="true">True property</div>
<div *ngIf="num1 < num2">num1 < num2</div>
<div *ngIf="str === 'test'">str === 'test'</div>
<div *ngIf="2 > 1">2 > 1</div>
<div *ngIf="isTrue">isTrue</div>
