<h1 style="color:orangered;">
  NgNonBindable
</h1>

<div class='ngNonBindableDemo' style="border: 5px solid black;">
  <span class="bordered">{{ content }}</span>
  <span class="pre" ngNonBindable>
      &larr; This is what {{ content }} rendered
    </span>
</div>
