<a style="font-size: 30px;" routerLink="if">if</a>
<a style="font-size: 30px; margin-left: 10px;" routerLink="for">for</a>
<a style="font-size: 30px; margin-left: 10px;" routerLink="class">class</a>
<a style="font-size: 30px; margin-left: 10px;" routerLink="style">style</a>
<a style="font-size: 30px; margin-left: 10px;" routerLink="switch">switch</a>
<a style="font-size: 30px; margin-left: 10px;" routerLink="non">non</a>

<router-outlet></router-outlet>
